.eka {
width: 200px;
height: 100px;
background-color: red;
left: 5px;
top: 5px;
position: absolute;
}
.ekat {
width: 210px;
height: 110px;
background-color: green;
left: 0px;
top: 0px;
position: absolute;
}

.toka {
width: 200px;
height: 100px;
background-color: yellow;
left: 220px;
top: 5px;
position: absolute;
}
.tokat {
width: 210px;
height: 110px;
background-color: red;
left: 215px;
top: 0px;
position: absolute;
}

.kolmas {
width: 200px;
height: 100px;
background-color: green;
left: 440px;
top: 5px;
position: absolute;
}

.kolmast {
width: 210px;
height: 110px;
background-color: yellow;
left: 435px;
top: 0px;
position: absolute;
}


